table th {background: rgb(37, 36, 36) ;
  color: white;
text-align: center;}

table td {text-align: center;}

.user-image {
  vertical-align: middle;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.card-body{
  text-align: center;
  box-shadow: 2px 2px 5px rgb(26, 24, 24);
    border-radius: 20%;


}

#Tabladeusers{
  margin: 40px;
  border-radius: 20%;


}
