#CartaDeEventos{
  align-items: center;
  justify-content : center;
  margin: auto;
  margin-top: 20px ;

}
#FechasReestringidas
{
  box-shadow: 2px 2px 5px #999;

  align-items: center;
  justify-content : center;
  margin: auto;
  margin-top: 20px ;

}
table th {
text-align: center;
overflow: initial;

}

table td {text-align: center;
overflow: initial;
}

table{
overflow: initial;
box-shadow: 2px 2px 5px #999;
background-color: rgb(255, 255, 255);


}

